@charset "UTF-8";

header{
	
	height:80px;
	padding: 5px;
	background-color:blue;
	text-align: center;
}
h1{
	font-weight: bold;
}
nav{
	height:30px;
	padding:5px;
	background-color: #000084;
}
nav ul{
	list-style: none;
	display : flex;
	line-height: 5px;
}
ul li{
	margin-right: 50px;
}
nav a{
	color: white;
	text-decoration: none;
}
h3{
	margin:20px 0px 0px 0px;
}
ol{
	margin: 0px;
}